<html>
    <head>
        <meta charset="utf-8" />
        <title>Welcome Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    </head>
    <body>
        <h1>Welcome!</h1>
        <p>This is a web application built by Timothy Yoon for CS 493's Final Project. Clicking the button below will redirect you to Auth0's login page. After logging in/signing up, you will be shown your JWT and User ID.</p>
        <form action="{{ url_for('login') }}" method="get">
            <input type="submit" value="Go to Auth0">
        </form>
    </body>
</html>